<a href="https://colab.research.google.com/github/Aleister03/Aleister03/blob/main/CSE110_Summer'23_ipnyb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# lab assignment 1

In [1]:
#task1
print("Hello World")

Hello World

In [2]:
#task2
print(54+56)

110

In [3]:
#task3
season="Summer"
year="2023"
print(season)
print(year)

Summer
2023

In [4]:
#task4
n=input()
print("Your name is",n)

Aorko
Your name is Aorko

In [5]:
#task5
M=int(input())
N=int(input())
print(str(M)+"^"+str(N)+":",M**N)

5
12
5^12: 244140625

In [6]:
#task6
gds=int(input())
rm=gds%4
print(gds-rm)

45
44

In [7]:
#task7
A=int(input())
B=int(input())
C=int(input())
D=float(input())
print(int(A**C+B*A-D/3))

4
3
5
1
1035

In [8]:
#task8
cho=int(input("Enter chocolates:"))
dst=int(cho/3)
rmn=cho-dst*3
print("Each friend will receive",dst,"chocolates")
print("The number of remaining chocolates is",rmn)

Enter chocolates:23
Each friend will receive 7 chocolates
The number of remaining chocolates is 2

In [9]:
#ungrade1
M=input()
N=input()
print(N+M)

3
2
23

In [10]:
#ungrade2
n1=int(input())
n2=float(input())
n3=int(input())
r=n1+n2
print("The inputs:",str(n1)+",",str(n2)+",",str(n3))
print("The result is",str(r)+str(n3))

3
2
4
The inputs: 3, 2.0, 4
The result is 5.04

In [11]:
#ungrade3
num=int(input())
if num%2==0:
  print("True")
else:
  print("False")

8
True

# lab assignment 2

In [12]:
#task1
a=int(input())
b=int(input())
print("Sum =",a+b)
print("Product =",a*b)
print("Difference =",a-b)

6
2
Sum = 8
Product = 12
Difference = 4

In [13]:
#task2
import math
radius=float(input())
area=math.pi*radius**2
circ=radius*math.pi*2
print("Area is",area)
print("Circumference is",circ)

6
Area is 113.09733552923255
Circumference is 37.69911184307752

In [14]:
#task3
num1=int(input())
num2=int(input())
if num1>num2:
  print("First is greater")
elif num2>num1:
  print("Second is greater")
else:
  print("The numbers are equal")

4
-4
First is greater

In [15]:
#task4
a=int(input())
b=int(input())
if a>b:
  print(a-b)
elif b>a:
  print(b-a)
else:
  print(a-b)

2
-1
3

In [16]:
#task5
num=int(input())
if num%2==0:
  print("The number is even")
else:
  print("The number is odd")

9
The number is odd

In [17]:
#task6
num=int(input())
if num%2==0 or num%5==0:
  print(num)
else:
  print("Not a multiple of 2 OR 5")

10
10

In [18]:
#task7
num=int(input())
if num%2==0 and num%5==0:
  print("Multiple of 2 and 5 both")
elif num%2==0 or num%5==0:
  print(num)
else:
  print("Not a multiple we want")

3
Not a multiple we want

In [19]:
#task8
num=int(input())
if num%2==0 and num%5==0:
  print(num)
else:
  print("Not multiple of 2 and 5 both")

11
Not multiple of 2 and 5 both

In [20]:
#task9
user=int(input())
hrs=user//3600
mnt1=user%3600
mnt2=mnt1//60
scnd=mnt1%60
print("Hours:",hrs,"Minutes:",mnt2,"Seconds:",scnd)

2440
Hours: 0 Minutes: 40 Seconds: 40

In [21]:
#task10
wh=int(input())
if 0<=wh<=40:
  print(wh*200)
elif 168>=wh>40:
  print(8000+(wh-40)*300)
elif wh>168:
  print("Impossible to work more than 168 hours weekly")
elif 0>wh:
  print("Hour cannot be negative")

45
9500

In [22]:
#task11
S=int(input())
if S<100:
  print(3000-125*S**2)
elif S>=100:
  print(12000/(4+(S**2)/14900))

3
1875

In [23]:
#task12
user=int(input())
if 6>=user>=4:
  print("Breakfast")
elif 13>=user>=12:
  print("Lunch")
elif 17>=user>=16:
  print("Snacks")
elif 20>=user>=19:
  print("Dinner")
elif 23>=user>=0:
  print("Patience is a virtue")
else:
  print("Wrong time")

11
Patience is a virtue

In [24]:
#task13
num=int(input("Enter marks:"))
if 100>=num>=90:
  print("A")
elif 89>=num>=80:
  print("B")
elif 79>=num>=70:
  print("C")
elif 69>=num>=60:
  print("D")
elif 59>=num>=50:
  print("E")
elif 0>=num>=40:
  print("F")
else:
  print("Invalid Marks")

Enter marks:76
C

In [25]:
#task14
dis=int(input("In meters:"))
time=int(input("In seconds:"))
dis2=dis*0.001
time2=time/3600
velo=dis2/time2
print(velo,"km/h")
if velo<60:
  print("Too slow. Needs more changes.")
elif 60<=velo<=90:
  print("Velocity is okay. The car is ready!")
elif velo>90:
  print("Too fast. Only a few changes should suffice.")

In meters:890
In seconds:43
74.51162790697674 km/h
Velocity is okay. The car is ready!

In [26]:
#task15
cgpa=float(input("Enter CGPA:"))
cred=int(input("Enter credits:"))
if 3.89>=cgpa>=3.8 and cred>=30:
  print("The student is eligible for a waiver of 25 percent.")
elif 3.94>=cgpa>=3.9 and cred>=30:
  print("The student is eligible for a waiver of 50 percent.")
elif 3.99>=cgpa>=3.95 and cred>=30:
  print("The student is eligible for a waiver of 75 percent.")
elif cgpa==4 and cred>=30:
  print("The student is eligible for a waiver of 100 percent.")
else:
  print("The student is not eligible for a waiver")

Enter CGPA:3.26
Enter credits:39
The student is not eligible for a waiver

In [27]:
#ungrade1
num=int(input())
if num%2!=0 and num%5!=0:
  print(num)
else:
  print("No")

2
No

In [28]:
#ungrade2
num=int(input())
if num%2!=0 or num%5!=0:
  print(num)
else:
  print("No")

5
5

In [29]:
#ungrade3
can=int(input("Canvases:"))
tube=int(input("Paint tubes:"))
p_can=can*120
p_tube=tube*75
price=p_can+p_tube
print("Previous total:",price)
if 299>=price>=0:
  print("New total after discount:",price-0)
elif 499>=price>=300:
  print("New total after discount:",price-10)
elif 749>=price>=500:
  print("New total after discount:",price-20)
elif 999>=price>=750:
  print("New total after discount:",price-50)
elif price>=1000:
  print("New total after discount:",price-150)

Canvases:3
Paint tubes:5
Previous total: 735
New total after discount: 715

In [30]:
#ungrade4
tempf=int(input("Temperature in Fahrenheit:"))
tempc=(tempf-32)*0.56
print(tempc,"degrees C")
if 20>tempc:
  print("Winter")
elif 25>=tempc>=20:
  print("Autumn")
elif 30>=tempc>25:
  print("Spring")
elif 30>=tempc:
  print("Summer")

Temperature in Fahrenheit:160
71.68 degrees C

#lab assignment 3

In [31]:
#task1a
for i in range(24,-7,-6):
  if i==-6:
    print(i,end="")
  else:
    print(i,end=", ")

24, 18, 12, 6, 0, -6

In [32]:
#task1b
for i in range(-10,21,5):
  if i==20:
    print(i,end="")
  else:
    print(i,end=", ")

-10, -5, 0, 5, 10, 15, 20

In [33]:
#task1c
for i in range(18,64,9):
  if i==63:
    print(i,end="")
  else:
    print(i,end=", ")

18, 27, 36, 45, 54, 63

In [34]:
#task1d
for i in range(18,64,9):
  if i==63:
    print(i*-1,"")
  elif i%2==0:
    print(i,end=",")
  elif i%2!=0:
    print(i*-1,end=",")

18,-27,36,-45,54,-63

In [35]:
#task2
fav_car=str(input("Enter favourite car:"))
num=int(input("Enter a number:"))
for i in range(num):
  print(fav_car)

Enter favourite car:toyota
Enter a number:3
toyota
toyota
toyota

In [36]:
#task3
sum=0
for i in range(1,601):
  if i%7==0 and i%9==0:
    sum+=i
print(sum)

2835

In [37]:
#task4
sum=0
for i in range(1,601):
  if i%7==0 and i%9==0:
    pass
  elif i%7==0 or i%9==0:
    sum+=i
print(sum)

39814

In [38]:
#task5
for i in range(10,51):
  if i%2!=0:
    print(i,end=" ")

11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

In [39]:
#task6
n=int(input())
odd=0
even=0
for i in range(1,n+1):
  if i%2==0:
    odd+=i**2
  elif i%2!=0:
    even+=i**2
result=even-odd
print(result)

4
-10

In [40]:
#task7
sum=0
odd=0
for n in range(10):
  num=int(input())
  if num%2!=0:
    odd+=1
    sum+=num
print("The total of the odd numbers is",sum,"and their average is",sum/odd)

9
4
3
6
2
11
24
5
21
1
The total of the odd numbers is 50 and their average is 8.333333333333334

In [ ]:
#task8
N=int(input("Enter a number:"))
sum=0
for n in range(1,N+1):
  if n%7==0:
    sum+=n
print(sum)

In [ ]:
#task9
sum=0
for i in range(5):
  num=int(input("Number:"))
  sum+=num
  print("Summatiom:",sum)

In [ ]:
#task10
num=int(input())
while num!=0:
  if num>10:
    print(num%10,end=",")
  else:
    print(num%10)
  num//=10

In [ ]:
#task11
num=int(input())
count=0
while num!=0:
  count+=1
  num//=10
print(count)

In [ ]:
#task12
num=int(input())
dgts=0
n=num
while n!=0:
  dgts+=1
  n//=10
n=num
while dgts!=0:
  dgts-=1
  dgts2=n//10**dgts
  n%=10**dgts
  if dgts!=0:
    print(dgts2,end=",")
  else:
    print(dgts2)

In [ ]:
#task13
num=int(input("Enter a number:"))
dvs=0
for i in range(1,num+1):
  if num%i==0:
    dvs+=1
    print(i)
print("Total",dvs,"divisors.")

In [ ]:
#task14
num=int(input("Enter a number:"))
sum=0
for i in range(1,num):
  if num%i==0:
    sum+=i
if sum==num:
  print(num,"is a perfect number")
else:
  print(num,"is not a perfect number")

In [ ]:
#task15
num=int(input("Enter a number:"))
dvs=0
for i in range(1,num+1):
  if num%i==0:
    dvs+=1
if dvs==2:
  print(num,"is a prime number")
else:
  print(num,"is not a prime number")

In [ ]:
#task16
qnt=int(input("Enter quantity:"))
max=min=sum=0
for n in range(qnt):
  num=int(input("Enter number:"))
  sum+=num
  if n==0:
    max=min=num
    continue
  if num>max:
    max=num
  elif num<min:
    min=num
print(sum/qnt)
print(max)
print(min)

In [ ]:
#task17
N=int(input("Enter size:"))
for i in range(N):
  for j in range(N):
    print("+",end="")
  print()

In [ ]:
#task18
M=int(input("Line numbers:"))
N=int(input("Column numbers:"))
for i in range(1,M+1):
  for j in range(1,N+1):
    print(j,end="")
  print()

In [ ]:
#task19
N=int(input("Enter height:"))
for i in range(N+1):
  for j in range(1,i+1):
    print(j,end="")
  print()

In [ ]:
#ungrade1
N=int(input())
a,b=0,1
print(a,end=" ")
if N>=b:
  print(b,end=" ")
for n in range(N-2):
  c=a+b
  if N<c:
    break
  print(c,end=" ")
  a,b=b,c
print()

In [ ]:
#ungrade2
num=int(input())
binary=""
while num!=0:
  binary+=str(num%2)
  num//=2
print(binary[::-1])

In [ ]:
#ungrade3
x=input()
a=x[-1::-1]
sum=0
for n in range(len(a)):
  sum+=(int(a[n])*(2**n))
print(sum)

In [ ]:
#ungrade4
a=int(input("Enter starting integer:"))
b=int(input("Enter finishing integer"))
count_prime=0
count_perfect=0
perfect=""
prime=""
print("between",a,"and",b)
for i in range(a,b+1):
  prime_num=True
  for dvd in range(2,i):
    if i%dvd==0:
       prime_num=False
       dvd+=1
       break
  if prime_num==True:
      prime+=str(i)+","
      count_prime+=1
for j in range(a,b+1):
  dvd2=1
  sum=0
  while dvd2<j:
      if j%dvd2==0:
          sum+=dvd2
      dvd2+=1
  if sum==j:
        perfect+=str(j)+","
        count_perfect+=1
print("Found" ,count_prime,"prime numbers")
print("Found" ,count_perfect,"perfect numbers")
print("prime num: ",prime)
print("perfect num: ",perfect)

#lab assignment 4

In [ ]:
#task1
user=str(input())
print(user[::-1])

In [ ]:
#task2
u1=str(input())
u2=int(input())
print(u1[u2::-1]+u1[u2+1:])

In [ ]:
#task3
user=str(input())
count=0
for i in user:
  if i=="0" or i=="1":
    count+=1
  else:
    print("Not a Binary Number")
    break
if count==len(user):
  print("Binary Number")

In [ ]:
#task4
user=str(input("Enter a word:"))
if user[-2:]=="er":
  print(user[:-2]+"est")
elif len(user)<4:
  print(user)
else:
  if user[-2:]=="er":
    print(user[:-2]+"est")
  elif user[-3:]=="est":
    print(user)
  else:
    print(user+"er")

In [ ]:
#task5
user=str(input("Enter a word:"))
for c in range(len(user)+1):
  print(user[:c])

In [ ]:
#task6
user=str(input("Enter a word:"))
for c in user:
  print(c,":",ord(c))

In [ ]:
#task7
user=str(input("Enter a word(All small letters):"))
for c in user:
  b=ord(c)
  if b==122:
    b=96
  print(chr(b+1),end="")

In [ ]:
#task8
a=str(input("enter a word(small letters):"))
for c in a[1::2]:
  b=ord(c)
  print(chr(b-32),end="")

In [ ]:
#task9
a=str(input("enter a string:"))
var=""
for i in range(1,len(a)):
  if a[i]!=a[i-1]:
    var+=a[i-1]
var+=a[-1]
print(var)

In [ ]:
#task10
u=str(input())
i1=""
i2=""
r=0
b=""
var=""
for i in range(len(u)):
  if u[i]==",":
    i1=u[:i]
    i2=u[i+2:]
if len(i1)>len(i2):
  r=len(i2)
  b=i1
else:
  r=len(i1)
  b=i2
for i in range(r):
  var=var+i1[i]+i2[i]
var+=b[r:]
print(var)

In [ ]:
#ungrade1
u1=str(input("Enter a string:"))
u2=str(input("Enter a word:"))
var=""
var2=""
for c in u1:
  if u2==c:
    var+=c
  else:
    var2+=c
if len(var2)==len(u1) and len(var2)>3:
  print(u1[1:-1])
elif len(var2)<3:
  print(var2)
else:
  print(var2)

In [ ]:
#ungrade2
u1=str(input("Enter strings:"))
u2=str(input("Enter splitter:"))
var1=""
for c in u1:
  if u2!=c:
    var1+=c
  else:
    print(var1)
    var1=""
print(var1)

In [ ]:
#ungrade3
u1=str(input("Enter a string:"))
u2=int(input("Enter a number:"))
if u2%2==0:
  for i in range(u2*2):
    print(u1,end="")
else:
  for i in range(u2*3):
    print(u1,end="")

In [ ]:
#ungrade4
u=str(input())
out=""
flag=True
for c in u:
  if "a"<=c<="z":
    if flag:
      out+=chr(ord(c)-32)
    else:
      out+=c
    flag=not flag
  elif "A"<=c<="Z":
    if flag:
      out+=c
    else:
      out+=chr(ord(c)+32)
    flag=not flag
  else:
    out+=c
print(out)

# CSE110 Exams
summer'23

In [ ]:
#quiz1A
num=int(input())
sum=0
mul=1
for n in range (1,num+1):
  if n%2==0:
    sum+=n
  else:
    mul*=n
print(sum)
print(mul)

In [ ]:
#quiz1B
num=int(input())
sum=0
mul=1
for n in range (1,num+1):
  if n%2==0:
    mul*=n
  else:
    sum+=n
print(sum)
print(mul)

In [ ]:
#quiz2A
user=input()
vowel="AaEeIiOoUu"
new_user=""
for c in user:
  if c not in vowel:
    new_user+=c
  else:
    if 65<=ord(c)<=90:
      new_user+=chr(ord(c)+32)
    elif 97<=ord(c)<=122:
      new_user+=chr(ord(c)-32)
print(new_user)

In [ ]:
#quiz2B
user=input()
vowel="AaEeIiOoUu"
new_user=""
for c in user:
  if c in vowel:
    new_user+=c
  else:
    if 65<=ord(c)<=90:
      new_user+=chr(ord(c)+32)
    elif 97<=ord(c)<=122:
      new_user+=chr(ord(c)-32)
print(new_user)

In [ ]:
#solution1-TheoryMid
num=str(input("Enter digits:"))
bin_dgt=""
dec_dgt=""
bin_sum=0
dec_sum=0
for c in num:
  if c!="0" and c!="1":
    dec_dgt+=c
    dec_sum+=int(c)
  else:
    bin_dgt+=c
    bin_sum+=int(c)
print("Binary digits are:",bin_dgt)
print("Sum of binary digits:",bin_sum)
print("Non-Binary digits are:",dec_dgt)
print("Sum of non-binary digits:",dec_sum)

In [ ]:
#solution2-TheoryMid
num=str(input("Enter digits:"))
bin_dgt=""
dec_dgt=""
bin_sum=0
dec_sum=0
for c in num:
  if c!="0" and c!="1":
    dec_dgt+=c
  else:
    bin_dgt+=c
n1=int(bin_dgt)
n2=int(dec_dgt)
while n1!=0:
  bin_sum+=n1%10
  n1//=10
while n2!=0:
  dec_sum+=n2%10
  n2//=10
print("Binary digits are:",bin_dgt)
print("Sum of binary digits:",bin_sum)
print("Non-Binary digits are:",dec_dgt)
print("Sum of non-binary digits:",dec_sum)

In [ ]:
#LabMidA
user=input("Enter strings:")
sep=input("Enter splitter:")
out_var=""
count_var=""
for i in range(len(user)):
  if user[i:i+len(sep)]!=sep:
    if user[i] not in sep:
      count_var+=user[i]
    if len(count_var)>len(out_var):
      out_var=count_var
  else:
    count_var=""
print(f'The longest word in the sentence is : {out_var}')

In [ ]:
#LabMidB
user=input("Enter strings:")
sep=input("Enter splitter:")
out_var=""
count_var=""
for i in range(len(user)):
  if user[i:i+len(sep)]!=sep:
    if user[i] not in sep:
      count_var+=user[i]
  else:
    if out_var=="" or len(out_var)>len(count_var):
      out_var=count_var
    count_var=""
print(f'The shortest word in the sentence is : {out_var}')

In [ ]:
#quiz3A
tournament=(["5-2"], ["2-3"], ["2-5"])
score=""
p1_series=p2_series=0
for lst in tournament:
  for elm in lst:
    score=elm
    p1=int(score[0])
    p2=int(score[2])
    if p1>p2:
      print(f'P1 won the match by {p1-p2} points')
      p1_series+=1
    elif p2>p1:
      print(f'P2 won the match by {p2-p1} points')
      p2_series+=1
    else:
      print("Draw")
    score=""
    p1=0
    p2=0
if p1_series>p2_series:
  print("Winner : Player 1")
elif p2_series>p1_series:
  print("Winner : Player 2")
else:
  print("Winner : No-One")

In [ ]:
#quiz3B
tournament=(["5:2"], ["3:4"], ["2:3"])
score=""
p1_series=p2_series=0
for lst in tournament:
  for elm in lst:
    score=elm
    p1=int(score[0])
    p2=int(score[2])
    if p1>p2:
      print(f'P2 lost the match by {p1-p2} points')
      p1_series+=1
    elif p2>p1:
      print(f'P1 lost the match by {p2-p1} points')
      p2_series+=1
    else:
      print("Draw")
    score=""
    p1=0
    p2=0
if p1_series>p2_series:
  print("Loser : Player 2")
elif p2_series>p1_series:
  print("Loser : Player 1")
else:
  print("Loser : No-One")

In [ ]:
#quiz4A
def grades(user):
  out_dct={}
  n=[]
  for info in user:
    n=info.split("_")
    if n[1] not in out_dct:
      out_dct[n[1]]=[n[0]]
    else:
      out_dct[n[1]].append(n[0])
    n=[]
  print(out_dct)
  for k,v in out_dct.items():
    print(f'{len(v)} student(s) got {k}')
user="111_A,321_B+,213_A,143_C,167_B+".split(",")
grades(user)

In [ ]:
#quiz4B
def grades(user):
  out_dct={}
  n=[]
  for info in user:
    n=info.split("#")
    if n[1] not in out_dct:
      out_dct[n[1]]=[n[0]]
    else:
      out_dct[n[1]].append(n[0])
    n=[]
  print(out_dct)
  for k,v in out_dct.items():
    print(f'{len(v)} student(s) got {k}')
user="111#A,321#B,213#A,143#C+,167#B".split(",")
grades(user)

In [ ]:
#LabFinalA
def bracu_library(books):
  out_dct1={}
  out_dct2={}
  quantity=0
  for k,v in books.items():
    if v[0] not in out_dct1:
      out_dct1[v[0]]=[k]
      quantity+=v[1]
    elif len(out_dct1[v[0]])<2:
      out_dct1[v[0]].append(k)
      quantity+=v[1]
  for a,b in out_dct1.items():
    if a not in out_dct2:
      out_dct2[a]=tuple(b)
  print(out_dct2)
  print(f'Total quantity : {quantity}')
books={'The Algorithm Design Manual': ['CSE221', 17],'System Analysis and Design': ['CSE471', 13],'Introduction to Algorithms': ['CSE221', 24],'Operating Systems Concept': ['CSE321', 15],'Introduction To Automata Theory': ['CSE331', 27]}
bracu_library(books)

In [ ]:
#LabFinalB
def bookStore(given_dc):
  out_dct1={}
  out_dct2={}
  discount=0
  for k,v in given_dc.items():
    if v[0] not in out_dct1:
      out_dct1[v[0]]=[k]
      discount+=v[1]
    elif len(out_dct1[v[0]])<2:
      out_dct1[v[0]].append(k)
      discount+=v[1]
  for a,b in out_dct1.items():
    if a not in out_dct2:
      out_dct2[a]=tuple(b)
  print(out_dct2)
  print(f'Total Discount : {discount}')
given_dc = {'Fallen': ['Mystery', 60],'The Silent Patient': ['Thriller', 55],'Treasure Island': ['Adventure', 20],'The Woman in the Library': ['Mystery', 70],'Upgrade': ['Sci-fi',35]}
bookStore(given_dc)

# lab assignment 5

In [ ]:
#task1
num=[]
for i in range(5):
  n=int(input("Enter number:"))
  num.append(n)
  print("Numbers in the list:",num)

In [ ]:
#task2
num=input()
new=""
lst=[]
for c in num:
  if c!=",":
    new+=c
  else:
    lst.append(int(new))
    new=""
lst.append(int(new))
if len(lst)>=4:
  print(lst[2:-2])
else:
  print("Not Possible")

In [ ]:
#task2alternative
num=input()
new_num=num.split(", ")
lst=[]
for c in new_num:
  lst.append(int(c))
if len(lst)>=4:
  print(lst[2:-2])
else:
  print("Not Possible")

In [ ]:
#task3
new=[]
for i in range(5):
  k=int(input("Enter a digit:"))
  new.append(k)
print("Printing values from the list in reverse order:")
for c in new[::-1]:
  print(c)

In [ ]:
#task4
given_list=[9, 3, 5, 1, 6]
new_list=[]
for c in given_list:
  new_list.append(c**2)
print(new_list)

In [ ]:
#task5
given_list=["hey", "there", "", "what's", "", "up", "", "?"]
new_list=[]
for c in given_list:
  if c!="":
    new_list.append(c)
print("Original List:",given_list)
print("Modified List:",new_list)

In [ ]:
#task6
user=input()
new_string=""
my_list=[]
idx=0
for c in user:
  if c!=",":
    new_string+=c
  else:
    my_list.append(int(new_string))
    new_string=""
my_list.append(int(new_string))
print("My list:",my_list)
large=my_list[0]
for i in range(len(my_list)):
  if my_list[i]>large:
    large=my_list[i]
    idx=i
print(f"Largest number in the list is {large},which was found at index {idx}.")

In [ ]:
#task6alternative
user=input()
new_user=user.split(",")
my_list=[]
idx=0
for c in new_user:
  my_list.append(int(c))
print("My List:",my_list)
large=my_list[0]
for i in range(len(my_list)):
  if my_list[i]>large:
    large=my_list[i]
    idx=i
print("Largest number in the list is",large,"which was found at index",str(idx)+".")

In [ ]:
#task7
List_one=[1, 3, 5, 7, 9, 10]
List_two=[2, 4, 6, 8]
List_final=List_one[0:-1]
for c in List_two:
  List_final.append(c)
print(List_final)

In [ ]:
#task8
list_one=[1, 2, 3, 4, 5, 6, 7, 8, 9]
list_two=[10, 11, 12, -13, -14, -15, -16]
list_all=list_one+list_two
list_even=[]
for n in list_all:
  if n%2==0:
    list_even.append(n)
print(list_even)

In [ ]:
#task9
num=input()
out=""
all=[]
odd=[]
for c in num:
  if c!=" ":
    out+=c
  else:
    all.append(int(out))
    out=""
all.append(int(out))
for n in all:
  if n%2!=0:
    odd.append(n)
print("Original list:",all)
print("Modified list:",odd)

In [ ]:
#task10
user=input()
new_user=user.split(", ")
new_list=[]
for c in new_user:
  new_list.append(int(c))
mod_list=[]
for c in new_list:
  if c not in mod_list:
    mod_list.append(c)
print("Input list:",new_list)
print("Modified list:",mod_list)

In [ ]:
#task11
List_one=[1, 4, 3, 2, 6]
List_two=[6, 5, 9, 8, 7]
Flag=False
for c in List_one:
  if c in List_two:
    Flag=True
    break
print(Flag)

In [ ]:
#ungrade1
user=input()
new_user1=user.split(", ")
new_user2=[]
idx1=0
for c in new_user1:
  new_user2.append(int(c))
large1=new_user2[0]
for i in range(len(new_user2)):
  if large1<new_user2[i]:
    large1=new_user2[i]
    idx1=i
new_user3=[]
for c in new_user2:
  if c!=large1:
    new_user3.append(c)
large2=new_user3[0]
idx2=0
for i in range(len(new_user3)):
  if large2<new_user3[i]:
    large2=new_user3[i]
    idx2=i
print(f'My list : {new_user2}')
print(f'Second largest number in the list is {large2},which was found at {idx2}.')

In [ ]:
#ungrade1
user=input().split(", ")
new_user1=[]
idx1=0
for c in user:
  new_user1.append(int(c))
large1=new_user1[0]
for i in range(len(new_user1)):
  if large1<new_user1[i]:
    large1=new_user1[i]
    idx1=i
new_user2=[]
for c in new_user1:
  if c!=large1:
    new_user2.append(c)
large2=new_user2[0]
idx2=0
for i in range(len(new_user2)):
  if large2<new_user2[i]:
    large2=new_user2[i]
    idx2=i
print(f'My list : {new_user1}')
print(f'Second largest number in the list is {large2},which was found at {idx2}.')

In [ ]:
#ungrade2
user=input()
new_user1=user.split(", ")
new_user2=[]
idx_large=0
idx_least=0
for c in new_user1:
  new_user2.append(int(c))
large=new_user2[0]
least=new_user2[0]
for i in range(len(new_user2)):
  if large<new_user2[i]:
    large=new_user2[i]
    idx_large=i
  elif least>new_user2[i]:
    least=new_user2[i]
    least_idx=i
print(f'My list : {new_user2}')
print(f'Smallest number in the list is {least},which was found at index {least_idx}.')
print(f'Largest number in the list is {large},which was found at {idx_large}.')

In [ ]:
#ungrade3
user1=input()
user2=input()
new_user1=user1.split(", ")
new_user2=user2.split(", ")
similar=[]
for c in new_user1:
  if c in new_user2:
    similar.append(c)
print(similar)

In [ ]:
#ungrade4
list_one=[1, 2, 2, 4, 5, 5, 7, 99, 200, 303, 70]
list_two=[1, 1, 2, 3, 3, 3, 4, 5, 200, 500, -5]
unique=[]
for c in list_one:
  if c not in unique:
    unique.append(c)
for c in list_two:
  if c not in unique:
    unique.append(c)
print(unique)

In [ ]:
#ungrade5
user="1,        2 ,            3, 50, 4"
new_user=user.strip(" [] ")
new_list=[]
print(f'Original data: {user}')
print(f'After removing square brackets: {new_user}')
print(f'Numbers in string format with extra white spaces: {new_user.split(",")}')
for c in new_user.split(","):
  if c!="," or c!=" ":
    new_list.append(int(c))
print(f'Final data (numbers in list format): {new_list}')

In [ ]:
#ungrade6
user=input()
list1=[]
for c in user.split(","):
  if c!="," or c!=" ":
    list1.append(int(c))
list2=[]
for e in list1:
  if e not in list2:
    list2.append(e)
print(f'Given numbers in list: {list1}')
print(f'List without any dupliacte values: {list2}')

# lab assignment 6

In [ ]:
#task1
a_tuple = ("The Institute", ("Best Mystery & Thriller", "The Silent Patient", 68821), 75717, [1, 2, 3, 400, 5, 6, 7], ("Best Fiction", "The Testaments", 98291))
print(a_tuple[3][3])

In [ ]:
#task2
user=(-10, 20, 25, 30, 40)
print(user[2:-2])

In [ ]:
#task3
book_info = (("Best Mystery & Thriller","The Silent Patient",68,821),("Best Horror","The Institute",75,717),("Best History & Biography","The five",31,783 ),("Best Fiction","The Testaments",98,291))
print("Size of the tuple is:",len(book_info))
for c in book_info:
  print(c)

In [ ]:
#task4
book_info=(("Best Mystery & Thriller","The Silent Patient",68821),("Best Horror","The Institute",75717),("Best History & Biography","The five",31783 ),("Best Fiction","The Testaments",98291))
for c in book_info:
  cat,book,vote=c
  print(f"{book} won the '{cat}' category with {vote} votes")

In [ ]:
#task5
Given=(10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
count=0
n=int(input())
for c in Given:
  if n==c:
    count+=1
print(n,"appears",count,"times in the tuple")

In [ ]:
#task6
given=('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')
new_list=list(given)
reversed=[]
for i in range(len(new_list)-1,-1,-1):
  reversed.append(new_list[i])
print(tuple(reversed))

In [ ]:
#task7
dic1={'A':90, 'B': 0}
dic2={'C':50}
new_dic={}
for k,v in dic1.items():
  new_dic[k]=v
for k,v in dic2.items():
  new_dic[k]=v
print(new_dic)

In [ ]:
#task8
d=input().split(", ")
dic={}
sum=0
count=0
for c in d:
  v=c.split(":")
  dic[v[0]]=int(v[1])
for v in dic.values():
  sum+=v
  count+=1
avg=int(sum/count)
print(f"Average is {avg}.")

In [ ]:
#task9
exam_marks={'Cierra Vega': 175, 'Alden Cantrell': 200, 'Kierra Gentry': 165, 'Pierre Cox': 190}
marks_dic={}
user=int(input())
for k,v in exam_marks.items():
  if v>=user:
    marks_dic[k]=v
print(marks_dic)

In [ ]:
#task10
dct={'sci fi': 5, 'mystery': 3, 'horror': 14, 'young_adult': 2, 'adventure':9}
large=0
large_key=""
for k,v in dct.items():
  if v>large:
    large=v
    large_key=k
print(f"The highest selling book genre is '{large_key}' and the number of books sold are {large}.")

In [ ]:
#task11
user=input()
new_user=user.lower()
dct={}
for c in new_user:
  if "a"<=c<="z":
    if c not in dct:
      dct[c]=1
    else:
      dct[c]+=1
print(dct)

In [ ]:
#task11alternative
user=input()
new_user=""
dct={}
for c in user:
  if "A"<=c<="Z":
    c=ord(c)+32
    new_user+=chr(c)
  elif c!=" ":
    new_user+=c
for c in new_user:
  if c not in dct:
    dct[c]=1
  else:
    dct[c]+=1
print(dct)

In [ ]:
#task12
dict_1={'A': [1, 2, 3], 'b': ['1', '2'], "c": [4, 5, 6, 7]}
count=0
for v in dict_1.values():
  for c in v:
    count+=1
print(count)

In [ ]:
#task13
list_1=[("a", 1), ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]
dct={}
for e in list_1:
  key,value=e
  if key not in dct.keys():
    dct[key]=[value]
  else:
    dct[key].append(value)
print(dct)

In [ ]:
#ungrade1
Given=[(11, 22), (33, 55), (55, 77), (11, 44)]
mtp_list=[]
for c in Given:
  n1=c[0]
  n2=c[1]
  mtp_list.append(n1*n2)
print(mtp_list)

In [ ]:
#ungrade2
a_tuple=([1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12])
user=input()
for elm in a_tuple:
  elm[-1]=user
print(a_tuple)

In [ ]:
#ungrade3
my_dictionary={'c1':'Red', 'c2':'Green', 'c3':None, 'd4':'Blue', 'a5':None}
new_dictionary={}
for k,v in my_dictionary.items():
  if v!=None:
    new_dictionary[k]=v
print(new_dictionary)

In [ ]:
#ungrade4
dict_1={'a' : 6, 'b' : 7, 'c' : 9, 'd' : 8, 'e' : 11, 'f' : 12, 'g' : 13}
dict_2={}
user1=input().split(", ")
user2=[]
for c in user1:
  user2.append(int(c))
for k,v in dict_1.items():
  if user2[0]<=v<=user2[1]:
    dict_2[k]=v
print(dict_2)

In [ ]:
#ungrade5
Given=[(20, 'Sad'), (31, 'Sad'), (88, 'NotSad'), (27, 'NotSad')]
new_dct={}
for c in Given:
  value,key=c
  if key not in new_dct.keys():
    new_dct[key]=[c]
  else:
    new_dct[key].append(c)
print(new_dct)

#lab assignment 7

In [ ]:
#task1
def even_checker(x):
  if x%2==0:
    print("Even!!")
  else:
    print("Odd!!")
x=int(input())
even_checker(x)

In [ ]:
#task2
def fibonacci(x):
  a,b=0,1
  print(a,end=" ")
  if x>=b:
    print(b,end=" ")
  for n in range(x-2):
    c=a+b
    if x<c:
      break
    print(c,end=" ")
    a,b=b,c
x=int(input())
fibonacci(x)

In [ ]:
#task3
def foo_moo(num):
  if num%2==0 and num%3==-0:
    return "FooMoo"
  elif num%2==0:
    return "Foo"
  elif num%3==-0:
    return "Moo"
  else:
    return "Boo"
num=int(input())
print(foo_moo(num))

In [ ]:
#task4
def function_name(name):
  count_up=0
  count_low=0
  for c in name:
    if 65<=ord(c)<=90:
      count_up+=1
    if 97<=ord(c)<=122:
      count_low+=1
  print(f'No. of Uppercase characters : {count_up}')
  print(f'No. of Lowercase Characters: {count_low}')
name=input()
function_name(name)

In [ ]:
#task5
def calculate_tax(age,salary,job):
  if age<18:
    return 0
  else:
    if job=="president":
      return 0
    else:
      if salary<10000:
        return 0
      elif 10000<=salary<=20000:
        return salary*0.05
      else:
        return salary*0.10
age=int(input())
salary=int(input())
job=input().lower()
print(calculate_tax(age,salary,job))

In [ ]:
#task6
def number_of_days(days):
  print(f'{days//365} years, {(days%365)//30} months and {(days%365)%30} days')
days=int(input())
number_of_days(days)

In [ ]:
#task7
def show_palindrome(num):
  pal=""
  for i in range(1,num+1):
    pal+=str(i)
  print(pal+pal[-2::-1])
num=int(input())
show_palindrome(num)

In [ ]:
#task8
def show_palindrome(num):
  pal=""
  for i in range(1,num+1):
    pal+=str(i)+' '
  for j in range(num-1,0,-1):
    pal+=str(j)+' '
  return pal
def show_palindromic_triangle(num):
  for m in range(1,num+1):
    print(" "*2*(num-m),end="")
    print(show_palindrome(m))
num=int(input())
show_palindromic_triangle(num)

In [ ]:
#task9
import math
def area_circumference_generator(radius):
  area=math.pi*radius**2
  circ=radius*math.pi*2
  return area,circ
radius=float(input("Enter radius : "))
print(area_circumference_generator(radius))
a,c=area_circumference_generator(radius)
print(f'Area of the circle is {a} and circumference is {c}')

In [ ]:
#task10
def make_square(start,end):
  out_dct={}
  for i in range(start,end+1):
    out_dct[i]=i**2
  return out_dct
start=int(input("Start digit:"))
end=int(input("End digit"))
print(make_square(start,end))

In [ ]:
#task11
def rem_duplicate(a_tup):
  out_tup=[]
  for c in a_tup:
    if c not in out_tup:
      out_tup.append(c)
  return tuple(out_tup)
#user=input().split(",")
a_tup=("Hi", 1, 2, 3, 3, "Hi",'a', 'a', [1,2])
print(rem_duplicate(a_tup))

In [ ]:
#task12
def rem_repeaters(list_name):
  new_list=[]
  count=0
  for elm in list_name:
    if new_list.count(elm)<2:
      new_list.append(elm)
    else:
      count+=1
  print(f'Removed : {count}')
  return new_list
print(rem_repeaters([1, 2, 3, 3, 3, 3, 4, 5, 8, 8]))

In [ ]:
#task13
def calculate(op,num1,num2):
  if op=="+":
    return num1+num2
  elif op=="-":
    return num1-num2
  elif op=="/":
    return num1/num2
  elif op=="*":
    return num1*num2
op=input("Operator : ")
num1=float(input("First Operand : "))
num2=float(input("Second Operand :"))
print(calculate(op,num1,num2))

In [ ]:
#task14
def remover(user1,user2):
  out1=""
  out2=""
  for n in range(0,len(user1)):
    if n==0:
      out1+=user1[n]
    else:
      if n%user2!=0:
        out1+=user1[n]
      else:
        out2+=user1[n]
  return out1+out2
user1=input("Enter a sentence : ")
user2=int(input("Enter position : "))
print(remover(user1,user2))

In [ ]:
#task15
def cart(order_items,location):
  product={'Rice':105,'Potato':20,'Chicken':250,'Beef':510,'Oil':85}
  total_price=0
  for elm in order_items:
    if elm in product:
      total_price+=product[elm]
  if location=="Dhanmondi" or location=="":
    total_price+=30
  else:
    total_price+=70
  return total_price
order_items=input("Enter items : ").split(",")
location=input("Enter delivery location : ")
print(f'Total amount to pay,{cart(order_items,location)}')

In [ ]:
#ungrade1
def splitting_money(amount):
  notes=[500, 100, 50, 20, 10, 5, 2, 1]
  out={}
  for n in notes:
    count=amount//n
    if count>0:
      out[n]=count
      amount%=n
  return out
amount=int(input())
for k,v in splitting_money(amount).items():
  print(f'{k} Taka: {v} note(s)')

In [ ]:
#ungrade2
def remove_odd(a_list):
  new_list=[]
  for elm in a_list:
    if elm%2==0:
      new_list.append(elm)
  return new_list
a_list=[11,2,3,4,5,2,0,5,3]
print(remove_odd(a_list))

In [ ]:
#ungrade3
def func_dvs(start,end,first,second):
  sum=0
  for i in range(start,end):
    if (i%first==0 and i%second!=0) or (i%first!=0 and i%second==0):
      sum+=i
  return sum
start=int(input())
end=int(input())
first=int(input())
second=int(input())
print(func_dvs(start,end,first,second))

In [ ]:
#ungrade4
def a_to_j(user):
  must="abcdefghij"
  for c in must:
    if c not in user:
      return 6
    else:
      return 5
user=input().lower()
for i in range(a_to_j(user)):
  print("PSG will win the Champions League this season")

In [ ]:
#ungrade5
def individul_bonus_calculation(player,salary,goals,bonus):
  total=goals*(bonus/100*salary)
  if goals>30:
    total+=10000
  elif 20<=goals<=30:
    total+=5000
  print(f'{player} earned a bonus of {int(total)} Taka for {goals} goals.')
individul_bonus_calculation('Luis', 80000, 25, 10)

In [ ]:
#ungrade6
def individul_bonus_calculation(player,salary,goals,bonus):
  total=goals*(bonus/100*salary)
  if goals>30:
    total+=10000
  elif 20<=goals<=30:
    total+=5000
  print(f'{player} earned a bonus of {int(total)} Taka for {goals} goals.')
def cal_bonus(*args):
  player=len(args)//4
  for i in range(player):
    index=i*4
    player=args[index]
    salary=args[index+1]
    goals=args[index+2]
    bonus=args[index+3]
    individul_bonus_calculation(player,salary,goals,bonus)
cal_bonus("Neymar", 1200000, 35, 5, 'Jamal', 700000, 19, 8, 'Luis', 80000, 25, 10)

# Practices

In [ ]:
#checking mac address
mac=str(input("Enter Mac Address:"))
var=""
mac_var=""
check=False
if len(mac)==17:
  check=True
  for c in mac:
    if c!=":" and c!="-":
      var+=c
      mac_var+=c
    else:
      if len(var)==2:
        check=True
      else:
        check=False
        break
      var=""
  for c in mac_var:
    if "0"<=c<="9" or "A"<=c<="F" or "a"<=c<="f":
      check=True
    else:
      check=False
      break
else:
  check=False
if check==True:
  print("VALID")
else:
  print("INVALID")

In [ ]:
#copy function
myList = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
print("Original;",myList)
print(id(myList))
new_myList=myList.copy()
print("CopyF;",new_myList)
print(id(new_myList))
n=myList
print("Clone;",n)
print(id(n))

In [ ]:
#practice1
date=int(input("Enter Date:"))
month=int(input("Enter Month:"))
year1=int(input("Enter year:"))
if month==1:
   month="January"
if month==2:
   month="February"
if month==3:
   month="March"
if month==4:
   month="April"
if month==5:
   month="May"
if month==6:
   month="June"
if month==7:
   month="July"
if month==8:
   month="August"
if month==9:
   month="September"
if month==10:
   month="October"
if month==11:
   month="November"
if month==12:
   month="December"
year2=year1+2000
print(date,end="")
print("-",end="")
print(month,end="")
print("-",end="")
print(year2)

In [ ]:
#practice2
brand=input("Enter the brand of the car:")
wheel=input("Enter the wheel position of the car:")
power=int(input("Enter the Horse Power of the car:"))
tax=0
if(brand=="Ferrari"):
  tax+=30
if(brand=="Ford"):
  tax+=25
if(wheel=="Left"):
  tax+=10
if(power>2000):
  tax+=10
print(f"Extra tax: {tax}%")

In [ ]:
#practice3
a=int(input("Quiz: "))
b=int(input("Mid: "))
c=int(input("Final: "))
z=int(a+b+c)
print("Total marks:",z)
if z>=90:
   print("Grade: A")
elif 80<=z<=89:
   print("Grade: B")
elif 70<=z<= 79:
   print("Grade: C")
elif 50<=z<=69:
   print("Grade: D")
else:
   print("Grade: F")

In [ ]:
#practice4
a=int(input())
if a%2==0:
   print("Even")
else:
   print("Odd")
if a==0:
   print("Zero")
elif a>0:
   print("Positive")
else:
   print("Negative")

In [ ]:
#practice5
w1=float(input("Your Weight:"))
h1=float(input("Your Height:"))
w2=float(w1*0.001)
h2=float(h1*0.01)
bmi=w2/(h2*h2)
print(bmi)
if(bmi<18.5):
  print("Underweight")
elif(18.5<=bmi<=24.9):
  print("Normal weight")
elif(25<=bmi<=29.9):
  print("Overweight")
elif(bmi>=30):
  print("Obese")

In [ ]:
#practice6
groom=input()
bride=input()
couple_name=""
a=(len(bride)-1)
for i in range(len(groom)):
  if a>i:
    couple_name+=((groom[i]+bride[i])+(groom[a]+bride[a]))
  else:
    if a==i:
      couple_name+=(groom[i]+bride[i])
    break
  a-=1
print(couple_name)

In [ ]:
#practice7
user1=int(input("Total Product(s) : "))
total1=total2=0
for i in range(user1):
  user2=int(input("Price(s) : "))
  if user2%2==0:
    total1+=user2
    total2+=user2*0.05
  else:
    total1+=user2
print(f'Price befor discount : {total1}')
print(f'Price after discount : {total1-total2}')

In [ ]:
#practice8
def football_win_calculator():
  total_points=0
  wins=0
  for n in range(match_num):
    score=input("Enter score : ")
    if int(score[0])>int(score[2]):
      total_points+=3
      wins+=1
    elif int(score[0])<int(score[2]):
      total_points+=0
    else:
      total_points+=1
  print(f'Total points obtained : {total_points}')
  print(f'Winning percentage : {(wins/match_num)*100}%')
match_num=int(input("Enter no. of matches : "))
football_win_calculator()

In [ ]:
#practice8/without calling function
match_num=int(input("Enter no. of matches : "))
total_points=0
wins=0
for n in range(match_num):
  score=input("Enter score : ")
  if int(score[0])>int(score[2]):
    total_points+=3
    wins+=1
  elif int(score[0])<int(score[2]):
    total_points+=0
  else:
    total_points+=1
print(f'Total points obtained : {total_points}')
print(f'Winning percentage : {(wins/match_num)*100}%')

In [ ]:
#practice9
cel1=int(input())
cel2=int(input())
for t in range(cel1,cel2+1):
  print(f'{t} degree Celsius = {(t*1.8)+32} degree Fahreinheit')

In [ ]:
#practice10
N=int(input("Enter total no of inputs : "))
product=1
valid=""
invalid=""
for i in range(N):
  num=int(input("Enter number : "))
  if num<=0:
    invalid+=(str(num)+", ")
  else:
    valid+=(str(num)+", ")
    product*=num
print(f'Valid inputs : "{valid}"')
print(f'Invalid inputs : "{invalid}"')
print(f'Product : {product}')

In [ ]:
#practice11
d_students={'1234567':{'name':'Rahat','dept':'CSE','credit':9},'1237565':{'name':'Ahat','dept':'CS','credit':15},'3267547':{'name':'Raha','dept':'EEE','credit':25}}
d_cgpa={"3267547":4.0,"1237565":3.6,"1234567":3.1}
new_dct1={}
new_dct2={}
final1={}
final2={}
for k1,v1 in d_students.items():
  if k1 in d_cgpa:
    for k2,v2 in d_cgpa.items():
      new_dct1[k1]=d_cgpa[k1]
      final1[k1]=None
      for k3,v3 in new_dct1.items():
        for k4,v4 in v1.items():
          new_dct2[k4]=v4
        new_dct2['cgpa']=v3
        final1[k1]=new_dct2
        for k5,v5 in final1.items():
          final2[k5]=v5
          new_dct1={}
          new_dct2={}
          final1={}
print(final2)

In [ ]:
#practice12
def user():
  u=input()
  print(u)
user()

In [ ]:
#practice13
def small(u1,u2):
  if u1<u2:
    return u1
  elif u2<u1:
    return u2
u1=int(input())
u2=int(input())
print(small(u1,u2))

In [ ]:
#practice14
def checker(a_list,num):
  if num in a_list:
    return True
  else:
    return False
a_list=[1,5,"Hi",6,"No",10]
num=1
print(checker(a_list,num))

In [ ]:
#practice15
def addition(a_list):
  sum=0
  for num in a_list:
    sum+=num
  return sum
a_list=[6,2,5,3,4]
print(addition(a_list))

In [ ]:
#practice16
def calculate(num1,num2):
  return num1+num2,num1*num2
sum,mul=calculate(3,6)
print(sum)
print(mul)

In [ ]:
#practice17
def big(u1,u2):
  if u1<u2:
    return u2
  elif u2<u1:
    return u1
u1=int(input())
u2=int(input())
print(big(u1,u2))

In [ ]:
#practice18
def list_to_string(a_list):
  out=""
  for elm in a_list:
    out+=str(elm)
  return out
a_list=[-5, 0.3, "3"]
print(list_to_string(a_list))

In [ ]:
#practice19
def makeTuple(dictionary):
  a_tup=[]
  for k,v in dictionary.items():
    if ord(k[0])==ord(k[-1]):
      a_tup.append(v)
  return tuple(a_tup)
dictionary={'bat': 311, 'madam': 512, "hurrah": 650, 'race car': 753, 'car':310}
print(makeTuple(dictionary))

In [ ]:
#practice20
def lower_vowel_extractor(user):
  low_list=[]
  vowel="aeiou"
  for c in user:
    if "a"<=c<="z" and c in vowel:
      if c not in low_list:
        low_list.append(c)
  return low_list
print(lower_vowel_extractor("CSE110 was not fun. I hope I dont have to retake."))

In [ ]:
#practice21
def more_than_avg(user):
  out_list=[]
  sum=0
  for elm in user:
    sum+=len(elm)
  avg=sum/len(user)
  for c in user:
    if len(c)>avg:
      out_list.append(c)
  return avg,out_list
print(more_than_avg(["CSE110's","Final","Examination","is","extremely","easy"]))

In [ ]:
#practice22
def BigWordsFinder(user):
  big_list=[]
  ascii=0
  for elm in user.split(" "):
    for c in elm:
      ascii+=ord(c)
    if ascii>700:
      big_list.append(elm)
    else:
      return "No big word found"
    ascii=0
  return big_list
print(BigWordsFinder("Hello World nice to meet you"))

In [ ]:
#spring23-Ques1
marks=[85, 92, 78, 88]
key="Task"
count=1
sum=0
out_dct={}
for n in marks:
  key+=str(count)
  out_dct[key]=n
  count+=1
  sum+=n
  key="Task"
out_dct["average"]=(sum/len(marks))
print(out_dct)

In [ ]:
#spring23-Ques2
def name_checker(user):
  cap=True
  for words in user.split(" "):
    if "A"<=words[0]<="Z":
      if "a"<=words[1:]<="z":
        cap=True
      else:
        cap=not cap
        break
    else:
      cap=not cap
      break
  if cap==True:
    return True
  else:
    return False
user="Mr Alec Benjamin"#input()
print(name_checker(user))

In [ ]:
#practice23
def dictionary_by_length(user):
  out_dct={}
  for word in user:
    if len(word) not in out_dct:
      out_dct[len(word)]=[word]
    else:
      out_dct[len(word)].append(word)
  return out_dct
print(dictionary_by_length(['apple', 'cat', 'dog', 'banana', 'fish']))

In [ ]:
#practice24
def product_of_list(user):
  c=[]
  for v in user.values():
    c.append(ord(v[0])*ord(v[1]))
  return tuple(c)
print(product_of_list({'C':['g','m'], 'B':['b','z'], 'A':['a','c']}))

In [ ]:
#practice25
import math
def ascii_summation(user):
  ascii_sum=0
  out_dct={}
  large=0
  small=math.inf
  large_word=""
  small_word=""
  for word in user:
    ascii_sum=0
    for letter in word:
      ascii_sum+=ord(letter)
    if ascii_sum>large:
      large=ascii_sum
      large_word=word
    elif ascii_sum<small:
      small=ascii_sum
      small_word=word
  out_dct[large_word]=large
  out_dct[small_word]=small
  return out_dct
print(ascii_summation(["Disorder", "Chaos", "Anarchy", "Crime", "Lawless"]))

In [ ]:
#practice26
def vowel_counter(user):
  vowel=["a","e","i","o","u"]
  count=0
  out_dct={}
  final_dct={}
  for v_ch in vowel:
    for i in range(0,len(user)):
      if user[i]==v_ch:
        if user[i] not in out_dct:
          out_dct[v_ch]=[i]
        else:
          out_dct[v_ch].append(i)
  for k,v in out_dct.items():
    if len(v)>=2:
      final_dct[k]=v
  return final_dct
print(vowel_counter("hello hi how are you"))

In [ ]:
given_dictionary={(2,3,6):"Harry",(7,):"Ron",(2,4):"Hermione",(4,6,10):"Malfoys"}
out=""
new_dictionary={}
sum=0
for k,v in given_dictionary.items():
  out+=v
  for n in k:
    sum+=n
  new_dictionary[sum]=v
  sum=0
print(f'The values: {out}')
print(f'new_dictionary = {new_dictionary}')

In [ ]:
def NATO_alphabets(codeword,special,user):
  vowel="aeiou"
  final_output=""
  for i in range(0,len(user)):
    if "0"<=user[i]<="9":
      if int(user[i]) in codeword:
        final_output+=(codeword[int(user[i])]+" ")
    elif user[i] in vowel:
      final_output+=chr(ord(user[i])+1)
    elif "a"<=user[i]<="z":
      final_output+=chr(ord(user[i])-1)
    elif user[i]=="_":
      final_output+=special[((ord("_")*i)%len(special))]
    elif user[i]==" ":
      final_output+=" "
  return final_output
codeword={0:'nada',1:'una',2:'bisso',3:'terra',4:'karte',5:'panta',6:'soxi',7:'sette',8:'okto',9:'nove'}
special=['#','@','*','$']
user="3r_d world cu_p won i_n 1970"
print(NATO_alphabets(codeword,special,user))

In [ ]:
#T5A
def generate_course(user):
  new=""
  if int(user[0][3:])%2==0:
    user[0]="Invalid Course"
    user[1]="Invalid title"
  else:
    user[0]=user[0][:3]+str(int(user[0][3:])+1)
    for i in range(len(user[1])):
      if i%2==0:
        new+=user[1][i]
      else:
        new+=chr(ord(user[1][i])+1)
    user[1]=new
  return user[0],user[1]
user=input().split(" ")
course,code=generate_course(user)
print("New course:")
print(f'title : {code}')
print(f'code : {course}')

In [ ]:
#T5B
def make_chart(user):
  new=""
  if int(user[0][:3])%2!=0:
    user[0]="Reconsider amount"
    user[1]="Wrong nutrient"
  else:
    user[0]=str(int(user[0][:3])+10)+user[0][3:]
    for i in range(len(user[1])):
      if i%2==0:
        new+=chr(ord(user[1][i])+1)
      else:
        new+=user[1][i]
    user[1]=new
  return user[0],user[1]
user=input().split(" ")
intake,nutriet=make_chart(user)
print("New chart:")
print(f'Nutrient name : {nutriet}')
print(f'Intake amount : {intake}')

In [ ]:
#T8A
def grades(user):
  out_dct={}
  pass_grade=["A+","A","A-"]
  for info in user:
    item=info.split("_")
    if item[0] in pass_grade:
      if item[0] not in out_dct:
        out_dct[item[0]]=[item[1]]
      else:
        out_dct[item[0]].append(item[1])
  return out_dct
print(grades(['B+_Alif','A_Sadman','A_Adnan','C_Syed','A-_Elen','F_Rafid']))

In [ ]:
#T8B
def grades(user):
  out_dct={}
  pass_grade=["B-","C","D","F"]
  for info in user:
    item=info.split("_")
    if item[1] in pass_grade:
      if item[1] not in out_dct:
        out_dct[item[1]]=[item[0]]
      else:
        out_dct[item[1]].append(item[0])
  return out_dct
print(grades(['Alif_B+','Sadman_B-','Adnan_F','Syed_C','Elen_A+','Rafid_B']))

In [ ]:
#T11A
def update_student_grades(total_marks,midterm,makeup):
  for n in total_marks:
    if n in midterm and midterm[n]!=0:
      total_marks[n]=total_marks[n]+midterm[n]
    elif n in midterm and midterm[n]==0:
      if n in makeup:
        total_marks[n]=total_marks[n]+makeup[n]
      if n not in makeup:
        print(f'{n} needs to take a makeup mid and extra classes with a score of {total_marks[n]}!')
      else:
        print(f'{n} needs to take extra classes with a score of {total_marks[n]}!')
    if total_marks[n]>60:
      print(f'{n} has passed the benchmark with a score of {total_marks[n]}!')
  return total_marks
total_marks={'Alice':45,'Bob':32,'Charlie':47,'Eenie':28}
midterm={'Alice':20,'Bob':0,'Charlie':15,'Eenie':0}
makeup={'Bob':16}
print(update_student_grades(total_marks,midterm,makeup))

In [ ]:
#T11B
def update_inventory(inventory,shipment,warehouse):
  for fr in shipment:
    if fr in inventory:
      inventory[fr]=inventory[fr]+shipment[fr]
    else:
      inventory[fr]=shipment[fr]
    if inventory[fr]>30:
      warehouse[fr]=inventory[fr]-30
      inventory[fr]=inventory[fr]-warehouse[fr]
  print("Updated Inventory :")
  for fn,qn in inventory.items():
    print(f'{fn} : {qn}')
  print("Updated Warehouse :")
  for fw,qw in warehouse.items():
    print(f'{fw} : {qw}')
inventory={'apple':10,'banana':22,'orange':8,'mango':26}
shipment={'apple':15,'grapes':20,'pear':12,'mango':10,'banana':13}
warehouse={}
update_inventory(inventory,shipment,warehouse)

In [ ]:
user="Good,things,take,time".split(",")
out_dct={}
new_list=[]
new_str=""
for words in user:
  for i in range(len(words)):
    if i==(len(words)-1):
      new_str+=words[i]
    else:
      new_str+=words[i]+"-"
  if words not in out_dct:
    out_dct[words]=new_str
  new_str=""
print(out_dct)

In [ ]:
#practice27
student_marks={22201554:["Arif",7,16,35],22299335:["Kamal",35,45]}
elite={}
pass_marks=0
for roll,info in student_marks.items():
  for marks in info[1:]:
    pass_marks+=marks
  if pass_marks>=80:
    elite[roll]=info[0]
  pass_marks=0
print(elite)

In [ ]:
#practice28
d1={"CSE":["Alex","Murphy"],"BBA":["Joseph","Sarah"]}
d2={"CSE":["Murphy","Reynolds"],"MNS":["Ray","Darby"]}
out_dct={}
for k1,v1 in d1.items():
  out_dct[k1]=v1
for k2,v2 in d2.items():
  if k2 not in out_dct:
    out_dct[k2]=v2
  else:
    for n in v2:
      if n not in out_dct[k2]:
        out_dct[k2].append(n)
print(out_dct)

In [ ]:
#practice29
import math
position={'A':(2,5),'B':(1,7),'C':(9,5),'D':(2,6)}
x1=3 #int(input())
y1=6 #int(input())
least=math.inf
for k,v in position.items():
  x2,y2=v[0],v[1]
  result=(math.sqrt((x2-x1)**2+(y2-y1)**2))
  if result<least:
    least=result
    least_key=k
print(least_key)

In [ ]:
#practice30
user= "82 * 92 = 7544".split("=")
sign=["+","-","*"]
calc_dct={}
test=user[0]
result=int(user[1])
for c in sign:
  if c in test:
    test=test.split(c)
    op=c
  first_op=int(test[0])
  second_op=int(test[1])
calc_dct['Operand 1']=first_op
calc_dct['Operand 2']=second_op
calc_dct['Operator']=op
if op=="+":
  final_result=(first_op+second_op)
elif op=="-":
  final_result=(first_op-second_op)
elif op=="*":
  final_result=(first_op*second_op)
if final_result==result:
  calc_dct['Is Correct?']=True
else:
  calc_dct['Is Correct?']=False
  calc_dct['Correct Result']=final_result
print(calc_dct)

In [ ]:
#practice31
marks=[80, 55, 92, 80, 79, 88]
key="Task"
count=1
sum=0
out_dct={}
for n in marks:
  key+=str(count)
  out_dct[key]=n
  count+=1
  sum+=n
  key="Task"
out_dct["average"]=(sum/len(marks))
print(out_dct)

In [ ]:
#practice32
out_dct={}
for count in range(3):
  key=input("Key : ")
  value=int(input("Value : "))
  if key not in out_dct:
    out_dct[key]=value
print(out_dct)

In [ ]:
#practice33
Given_Dictionary={"12": -5, "20": 12, "8": 7}
values=0
keys=""
for k,v in Given_Dictionary.items():
  keys+=k
  values+=v
print(keys)
print(values)

In [ ]:
#practice34
given={"Marjorie":"01777540921","Jonah":"01743214359","Tom":"01790654876"}
sim_num={"Robi":[],"GP":[]}
for no in given.values():
  if no[:3]=="018":
    sim_num["Robi"].append(no)
  elif no[:3]=="017":
    sim_num["GP"].append(no)
print(sim_num)

In [ ]:
#practice35
user={2:5, 3:11, 15:5}
out_dct={}
sum=0
for k,v in user.items():
  if v%k==0:
    out_dct[k]=v
    sum+=v
print(out_dct)
print(sum)

In [ ]:
#practice36
balance={'Bank1': [222, 30, 150, 29], 'Bank2': [-809, -120]}
bank_info={"Credit":0,"Debit":0}
for info in balance.values():
  for mny in info:
    if mny<0:
      bank_info["Credit"]+=mny
    else:
      bank_info["Debit"]+=mny
print(bank_info)

In [ ]:
#practice37
given_dict={'Monica':30,'Phoebe':31,'Rachel':28}
vowel="AaEeIiOoUu"
for n,v in given_dict.items():
  if v%2==0:
    for c in n:
      if c in vowel:
        given_dict[n]+=ord(c)
  else:
    for c in n:
      if c not in vowel:
       given_dict[n]+=ord(c)
print(given_dict)

In [ ]:
#practice38
d1={"12": -5, "20": 12, "8": 7}
d2={"12": -5, "8": 7}
out_dct={}
for k1,v1 in d2.items():
  if k1 not in d1:
    out_dct[k1]=v1
print(out_dct)

In [ ]:
#practice39
d1={"A": [1, 2], "B": [3], "C": [4,5,6]}
for v in d1.values():
  for i in v:
    print(i)